<ion-view title="Grocery Keeper">
  <ion-content class= "has-header">
    <div class="list list-inset padding">
    	<label class="item item-input">
          <input type="text" placeholder="username" ng-model="login.username">
    	</label>
    	<label class="item item-input">
    	  <input type="password" placeholder="password" ng-model="login.password">
    	</label>
      <label class="item item-input">
        <input type="password" placeholder="reenter-password" ng-model="login.repeatpassword">
      </label>
    	<button class="button button-block button-positive" ng-click="signup()">
    	   Sign Up
    	</button>  
    </div>

  </ion-content>

</ion-view>